@font-face {
  font-family: "LogoFont";
  src: url("../fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
}

/* Montserrat Regular */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900; /* You might need to adjust this value based on the font file */
}

/* Montserrat Bold */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* Montserrat Light */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 600; /* You might need to adjust this value based on the font file */
}

/* Montserrat Semi-Bold */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 300; /* You might need to adjust this value based on the font file */
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 4.5em;
  /* Ajuste la taille du titre */
  color: white;
  margin: 0;
  font-family: "LogoFont";
}
a {
  text-decoration: underline;
  color: white;
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 1em;
}
a:hover {
  color: #0066ff;
}

p {
  color: white;
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 1em;
}

h2 {
  font-size: 2em;
  /* Ajuste la taille du titre */
  color: white;
  margin: 0;
  font-family: "Montserrat";
  font-weight: 900;
  margin-bottom: 20px;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("../img/whiteboard.jpg");
  background-size: cover; /* Couvre toute la div */
  background-position: left;
}

.left-section {
  display: flex;
  flex-basis: 67%;
  flex-direction: row; /* Les enfants sont alignés horizontalement */
  justify-content: center; /* Centre les enfants horizontalement */
  align-items: center; /* Centre les enfants verticalement */
  height: 100%;
  backdrop-filter: brightness(0.5) blur(10px); /* Applique un flou de 5 pixels à l'arrière-plan */
  /* Add any additional styling here */
}
.left-content {
  display: flex;
  flex-direction: row; /* Aligns its children (image-text divs) horizontally */
  align-items: center;
  justify-content: center;

  padding: 20px;
  border-radius: 10px;
  width: 80%;
  height: 80%;
}

.image-text {
  display: flex;
  flex-direction: column; /* Aligns image and text vertically */
  align-items: center; /* Center aligns items horizontally */
  justify-content: center;
  margin: 10px; /* Adds some space between the image-text containers */
}

.right-section {
  display: flex;
  align-items: center;
  flex-basis: 33%;
  flex-direction: column;
  justify-content: center;
  /* Add any additional styling here */
  background-color: #0f0f0f;
}

.login-form,
.register-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
}

.login-form input,
.register-form input {
  width: 90%; /* Largeur du champ de saisie */
  height: 3vw; /* Hauteur du champ de saisie */
  padding: 15px; /* Espace à l'intérieur du champ de saisie */
  margin-bottom: 20px; /* Espace entre les champs de saisie */
  border: none;
  border-radius: 5px; /* Rayon de la bordure pour les coins arrondis */
  /* Autres styles */
}

input::placeholder {
  color: #000000;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1em;
  border-radius: 15%;
}
::placeholder {
  color: #484848;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1em;
  border-radius: 15%;
}
input {
  padding: 10px; /* Ajustez la valeur selon vos besoins */
  background-color: #efeeee;
  color: #484848;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1em;
  border: 2px solid transparent; /* Ajoute une bordure transparente par défaut */
  box-sizing: border-box; /* S'assure que la taille de l'input inclut le padding et la bordure */
}

input:focus {
  outline: solid 4px #0044ff; /* Utilise outline pour le focus au lieu de changer la bordure */
  /* Aucun ajustement de la bordure ici pour éviter de déplacer les éléments */
}

input:hover {
  background-color: #a5a5a5;
}

#login_button {
  width: 14rem;
  height: 3rem;
  border: none;
  outline: none;
  color: #151515;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: 900;
}

#login_button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

#login_button:active {
  color: #000;
}

#login_button:hover:before {
  opacity: 1;
}

#login_button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
#register_button {
  width: 14rem;
  height: 3rem;
  border: none;
  outline: none;
  color: #151515;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: 900;
}

#register_button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

#register_button:active {
  color: #000;
}

#register_button:hover:before {
  opacity: 1;
}

#register_button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.popup-container {
  display: flex;
  justify-content: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 2; /* Assurez-vous que la pop-up est au-dessus des autres éléments */
}

.popup-content {
  background-color: transparent;
  /* Dark background for the popup */
  color: #fff;
  /* Light text color for better contrast */
  padding: 40px;
  /* More padding for a spacious look */
  z-index: 999;
  border-radius: 20px;
  display: none;
  gap: 0.5vw;
  /* Adjust shadow for depth */
  /* Adjust shadow for depth */

  padding: 20px;
  border: solid 3px rgb(255, 255, 255);
  border-radius: 12px;
  width: 20vw;
  height: 10vw;
  position: relative;
  display: flex; /* Ajouté */
  flex-direction: column; /* Ajouté */
  align-items: center; /* Ajouté */
  justify-content: center;
  backdrop-filter: brightness(0.75) blur(10px); /* Applique un flou de 5 pixels à l'arrière-plan */
}

.close-button {
  position: absolute;
  top: 7px;
  right: 15px;
  font-size: 35px;
  cursor: pointer;
  color: #898989;
}
.close-button:hover {
  color: #fff;
}
.popup-content input,
.popup-content button {
  margin-bottom: 10px; /* Ajustez la valeur selon vos préférences */
}
.popup-content input {
  width: 90%; /* Ajustez la largeur si nécessaire */
}
.popup-content button {
  width: 10vw; /* Ajustez la largeur si nécessaire */
}

button {
  background-color: transparent;
  color: #ffffff;
  border: rgb(255, 255, 255) solid 2px;

  font-size: 1em;
  /* Ajuste la taille du texte des boutons */
  padding: 0.5em 1em;
  /* Ajuste le padding des boutons */
  border-radius: 5px;
  cursor: pointer;
  font-family: "montserrat";
  font-weight: normal;
}

button:hover {
  background-color: transparent;
  backdrop-filter: brightness(0.95) blur(4px); /* Applique un flou de 5 pixels à l'arrière-plan */
}

#resetPasswordButton:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.4
  ) !important; /* Blanc avec 50% de transparence */
  color: white !important;
}

.register-link {
  display: flex;
  flex-direction: column; /* Empile les éléments verticalement */
  align-items: center; /* Centre les éléments horizontalement dans la div */
  justify-content: center; /* Centre les éléments verticalement dans la div */
  text-align: center; /* Assure que le texte à l'intérieur des éléments est également centré */
}

/* Supprime l'effet de contour pour tous les éléments */
*:focus {
  outline: none;
}

img {
  width: 9vw;
  height: 9vw;
  object-fit: cover;
  /* Couvre toute la div */
}
