@font-face {
  font-family: "LogoFont"; /* Remplacez 'MaPolice' par le nom que vous souhaitez donner à la police. */
  src: url("../fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf")
    format("truetype"); /* Spécifiez le chemin vers le fichier WOFF2 */
  /* Vous pouvez également inclure d'autres formats de police si vous le souhaitez */
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
}

/* Montserrat Regular */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900; /* You might need to adjust this value based on the font file */
}

/* Montserrat Bold */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* Montserrat Light */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 600; /* You might need to adjust this value based on the font file */
}

/* Montserrat Semi-Bold */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 300; /* You might need to adjust this value based on the font file */
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
/* Main container styles */
#container {
  width: 100vw;
  min-height: 100vh; /* Change height to min-height */
  position: relative;
  background: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

/* Header styles */
#header {
  display: flex;
  position: relative;
  width: 100%;
  padding: 1em; /* Remplacez 1em par la valeur de marge que vous voulez pour le haut et le bas */
  align-items: center;
  justify-content: center; /* Espacement entre les éléments */
}

#header::before {
  content: "";
}

#pageTitle {
  font-size: 5vw; /* Taille de police responsive */
  font-family: "LogoFont";
  color: white;
  position: relative;
  height: auto; /* Hauteur automatique pour ajuster le contenu */
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Margin auto pour centrer le titre */
}

#disconnectButton {
  background-image: url("../img/disconnect2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  width: 2.2vw;
  height: 2.2vw;
  color: rgba(221, 221, 221, 0.4);
  cursor: pointer; /* Ajouté pour que l'utilisateur sache qu'il s'agit d'un bouton cliquable */
}

#disconnectButton:hover {
  background-image: url("../img/disconnect.png");
}
#header-right {
  display: flex;
  align-items: center;
  position: absolute; /* Positionnement absolu pour le placer précisément */
  top: 50%; /* Démarre à 50% du haut de l'en-tête */
  right: 5vw; /* Ajustez cette valeur pour la marge droite */
  transform: translateY(
    -50%
  ); /* Centrer verticalement par rapport à sa propre hauteur */
}

/* Page holder styles */
#pageHolder {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw; /* Space between the page elements */
  padding: 10em;
  background-image: url("../img/whiteboard.jpg");
  border-radius: 15px;
  margin-bottom: 2vw;
  width: 70vw;
}

.page {
  position: relative;
  background: rgba(
    221,
    221,
    221,
    0.4
  ); /* Couleur de fond semi-transparente pour l'effet de verre */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Ombre portée pour un aspect profond */
  backdrop-filter: blur(
    20px
  ); /* Flou de l'arrière-plan pour l'effet de verre */
  -webkit-backdrop-filter: blur(13px); /* Flou de l'arrière-plan pour Safari */
  border-radius: 15px; /* Rayon de bord arrondi */
  width: 12vw; /* Largeur en pourcentage de la largeur de la fenêtre */
  height: 8vw; /* Hauteur en pourcentage de la largeur de la fenêtre */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition pour l'interaction utilisateur */
  font-family: "LogoFont";
  font-size: 1.5vw;
  color: #151515;
  overflow: hidden; /* Empêche le texte de déborder */
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est trop long */
}

.page:hover {
  transform: translateY(-5px); /* Légère animation vers le haut au survol */
  box-shadow: 0 12px 36px 0 rgba(255, 255, 255, 0.47); /* Ombre plus grande pour l'effet de survol */
}

/* Add new page styles */
#addNewPage {
  font-size: 2vw; /* Taille de la police pour le '+' */
  font-family: arial !important;
}

/* Popup styles */
.popup {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  /* Dark background for the popup */
  color: #fff;
  /* Light text color for better contrast */
  padding: 40px;
  /* More padding for a spacious look */
  z-index: 999;
  border-radius: 20px;
  text-align: center;

  border: white solid 2px;
  /* Removing the border for a cleaner look */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  /* Adjust shadow for depth */
  /* Adjust shadow for depth */
  backdrop-filter: blur(
    4px
  ); /* Applique un flou de 5 pixels à l'arrière-plan */
}

#cancelButton {
  position: absolute;
  top: 0px; /* Ajustez selon la marge désirée du haut */
  right: 10px; /* Ajustez selon la marge désirée de droite */
  background-color: none; /* Rendre le fond transparent */
  border: none; /* Supprimer la bordure */
  cursor: pointer; /* Cursor en forme de main au survol */
  font-size: 1.2em; /* Ajustez la taille de la croix */
  width: 1vw;
  height: 1vw;
  color: rgba(0, 0, 0, 0.5);
}
#cancelButton:hover {
  color: white; /* Change color on hover */
  background: none !important;
}

.popup-content {
  display: flex;
  flex-direction: column;
}

/* Input styles */
input[type="text"] {
  padding: 0.5em;
  margin-bottom: 1em;
  font-family: "montserrat";
  font-weight: 600;
  border-radius: 5px;
  border: none;
  color: #484848;
}
input[type="text"]:focus {
  outline: solid 3px #0044ff; /* Utilise outline pour le focus au lieu de changer la bordure */
}
input[type="text"]:hover {
  background-color: #a5a5a5;
}

/* Button styles */
button {
  background-color: transparent;
  border: white solid 2px;
  color: white;

  font-size: 1em;
  /* Ajuste la taille du texte des boutons */
  padding: 0.5em 1em;
  /* Ajuste le padding des boutons */
  border-radius: 5px;
  cursor: pointer;
  font-family: "montserrat";
  font-weight: 900;
}

/* Search input styles with glass effect */
#searchInput {
  background: rgba(129, 129, 129, 0.4); /* Effet de verre */
  border: none; /* Retirer la bordure par défaut */

  backdrop-filter: blur(
    20px
  ); /* Flou de l'arrière-plan pour l'effet de verre */
  -webkit-backdrop-filter: blur(20px); /* Pour Safari */
  border-radius: 5px; /* Bords arrondis */
  padding: 1em;
  height: 2vh;
  width: 40vw; /* Largeur responsive */
  max-width: 500px; /* Largeur maximale */
  color: white; /* Couleur du texte */
  margin-bottom: 1em; /* Espacement en dessous */
  transition: box-shadow 0.3s ease; /* Transition pour l'effet de survol */
  margin-bottom: 2vw;
}

/* Effet de survol pour la barre de recherche */
#searchInput:hover {
  background: rgba(252, 252, 252, 0.4); /* Effet de verre */
}

#joinPageButton {
  background-color: none;
  border: 2px solid white;
  color: white;
  height: 50px;
  width: 80px;
  font-size: 1em;
  margin-bottom: 2vw;
}
#userPseudo {
  font-size: 1.5em;
  font-family: "montserrat";
  font-weight: normal;
  color: white;
  margin-right: 1vw;
}

#joinPageButton:hover {
  background-color: white;
  color: #151515;
}

#createPage:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.4
  ) !important; /* Blanc avec 50% de transparence */
  color: white !important;
}

/* Responsive font sizes for smaller screens */
@media (max-width: 600px) {
  #pageTitle {
    font-size: 8vw;
  }
  .page {
    width: 40vw;
    height: 24vw;
  }
  #searchInput {
    width: 80vw;
  }
}

/* Show the popup */
.popup.show {
  display: flex;
}

.delete-button {
  position: absolute;
  top: 0; /* Aligns to the top edge of the page div */
  right: 0; /* Aligns to the right edge of the page div */
  width: 2vw; /* Smaller width for the button */
  height: 2vw; /* Smaller height for the button */
  font-size: 1vw; /* Adjust font size to scale the 'X' down */
  line-height: 10px; /* Aligns 'X' vertically */
  padding: 5px; /* Padding to ensure clickable area is larger than visual 'X' */
  z-index: 10; /* Ensure it's above other elements */
  background: none; /* No background */
  border: none; /* No border */
  cursor: pointer;
  text-align: center; /* Centers the 'X' horizontally */
  color: rgba(0, 0, 0, 0.5);
}
.delete-button:hover {
  color: white; /* Change color on hover */
  background: none !important;
  backdrop-filter: none !important;
}

*:focus {
  outline: none;
}
